/* index */

.index-wrap {
  /* container for my index bio content */
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2em auto 3em auto; /* breathing room for social icons */
  max-width: 550px;
  padding: 0 20px;
  text-align: left;
}

.index-wrap .self-gif {
  /* self-portrait gif */
  margin-bottom: 2em;
  width: 128px;
}

/* list pages */

.content.content--list {
  /* the blurb above the list */
  align-items: flex-start;
  margin-bottom: 2em;
}

.posts .post-item a {
  /* theme override */
  align-items: flex-start;
}

.posts .post-item a:hover {
  color: #fff;
  opacity: 1;
}

.posts .post-text {
  /* custom container class for post title and summary */
  display: flex;
  flex-direction: column;
}

.posts .post-title {
  /* theme override */
  margin: 0 auto 1em 0;
}

.posts .post-subtitle {
  /* custom class */
  margin-bottom: 1em;
  opacity: .6;
}

.post-thumbnail {
  height: 150px;
  object-fit: cover;
  margin-right: 1em;
  width: 300px;
}