{{ define "main" }}
<main class="posts">
  <h1>{{ .Title }}</h1>

  {{- if .Content }}
      <div class="content content--list">{{ .Content }}</div>
  {{- end }}

  {{- range .Data.Pages.GroupByDate "2006" }}
      <div class="posts-group">
          <ul class="posts-list">
              {{- range .Pages }}
                  <li class="post-item">
                      <a href="{{.Permalink}}">
                          <span class="post-title">{{.Title}}</span>
                          <span class="post-subtitle">{{.Summary}}</span>
                      </a>
                  </li>
              {{- end }}
          </ul>
      </div>
  {{- end }}
</main>
{{ end }}