{{ define "main" }}
    <main aria-role="main">
        <div>

            {{- with .Site.Params.homeSubtitle }}
                <div class="index-wrap">
                    <img class="self-gif" src="self.gif" alt="">
                    <p>Hello world, I'm <strong>Melissa Thomas</strong> (she/her). I make things for computer screens.</p>
                    <p>More specifically, I design digital products with humans in mind; write modern, accessible, and scalable HTML and CSS; and find ways to make sense of chaos.</p>
                    <p>And of course, I'm also a complex human being with a rich emotional life, frequently non-tech-related ambitions, and profound flaws. Welcome to my little corner of the web. 👋 </p>
                </div>

            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
