<div class="playlist">
  <iframe src="https://open.spotify.com/embed/playlist/7d7CqMp6WzxRu2kAIqdaT7" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>