<div class="playlist">
  <iframe src="https://open.spotify.com/embed/playlist/2tzLmGNGyZwpImPAlyE79C" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>